<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhixing.rpclib">

    <application>

        <activity
            android:name=".RpcMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

        </activity>
    </application>
</manifest>
